.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-left: var(--spacing-container-padding-mobile);
  padding-right: var(--spacing-container-padding-mobile);
}
